---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/OPCR/blog/' title='Back to blog'>&larr; Volver a la página principal</a>
  <p class='text-slate text-sm md:text-base'>
    Fecha de publicación {content.pubDate} por {content.author}
  </p>
  <slot />
  <p class='text-slate'>Escrito por {content.author}</p>
  <a href='/OPCR/blog/' title='Back to blog'>&larr; Volver a la página principal</a>
</article>
